<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KineduTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>22CB51EC2298D6980093FAA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22CB52002298D69A0093FAA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22CB520B2298D69A0093FAA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
